<% model_class = Story %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.story', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @story,
          show_path: admin_story_path(@story),
          index_path: admin_stories_path
                }
  %>
</div>

<%= render partial: 'form' %>
