<% model_class = Highlight %>
<% page_title t('shared.actions.with_obj.edit',
                obj: t('activerecord.models.highlight', count: 1)) %>

<div class='actions-container'>
  <%= render partial: 'shared/edit_actions',
        locals: {
          object: @highlight,
          show_path: admin_highlight_path(@highlight),
          index_path: admin_highlights_path
                }
  %>
</div>

<%= render partial: 'form' %>
