.about main .container {
	display: flex;
	flex-direction: column;
	width: 1000px;
	color: #1d5c96;
	font-size: 10px;
	h1, h2 {
		font-family: 'Ek Mukta', sans-serif;
	}
}

.about main .primary-header {
	padding-left: 5px;
	font-size: 3.6em;
	letter-spacing: 2px;
	text-align: center;
}

.about-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.about-wrapper .about-text {
	padding: 20px 5px;
	border-style: solid;
	border-width: 1px 0;
	border-color: #c7c7c7;
	border-bottom-color: #e0e0e0;
	font-size: 1.7em;
}

.about-wrapper .partners-wrapper {
	width: 100%;
	margin: 4% 0;
	text-align: center;

	h2 {
		padding-left: 5px;
		margin-bottom: 20px;
		font-size: 2.6em;
		letter-spacing: 1px;
	}
}

.about-wrapper .partner-logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	img {
		height: 60px;
		width: auto;
		margin: 0 25px 10px 25px; 
		-webkit-filter: grayscale(1) opacity(0.7);
  		filter: grayscale(1) opacity(0.7);
  		transition: all 0.3s;
	}

	a:hover img{
		-webkit-filter: none;
  		filter: none;
	}

}

.about-wrapper .usaid {
	margin-top: 60px;
	padding: 20px 0 30px 5px;
	border-style: solid;
	border-width: 1px 0;
	border-color: #e0e0e0;

	.about-disclaimer {
		font-size: 1.5em;
		margin-bottom: 20px;
	}

	.about-usaid-logos {
		width: 100%;
		height: auto;
		text-align: center;
	}

	.about-usaid-logos img {
		height: auto;
		width: 70%;
	}


}

body.no-touch .about-usaid-logos:hover img {
	animation: usaid-logo-hover 0.3s;
}

@media screen and (max-width: 1000px) {

	.about main .container {
		width: 95%;
	}

	.about-wrapper .partner-logos img {
		height: 40px;
	}

	.about-wrapper .usaid {
		.about-usaid-logos img {
			height: auto;
			width: 100%;
		}
	}
}

@media screen and (max-width: 500px) {
	.about-wrapper .partner-logos img {
		height: 30px;
	}
}

