html {
    position: relative;
    min-height: 100%;
}

.app-footer {
    bottom: 0;
    width: 100%;
    padding: 5px 10px;
    background-color: #f8f8f8;
    color: #4f4f4f;
    z-index: 0;
    overflow: hidden;
}


.pledge-footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 50px 0;
    /*background-color:  #313d48;*/
}

.pledge-footer{
    border: solid 4px;
    border-image:  linear-gradient(45deg, #296faf, #1bc5cc);
    border-image-slice: 1;
    background: linear-gradient(45deg, #296faf, #1bc5cc);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 4px;
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Ek Mukta', sans-serif;
    text-transform: uppercase;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 30px 50px;
        text-decoration: none;
        color: white;
    }

    &:hover {
        -webkit-text-fill-color: white;
        -webkit-background-clip: initial;
        animation: fill-background 0.3s;
    }
}

@keyframes fill-background {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}


  
.default {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-footer-left {
    display: flex;
    align-items: center;

    > * {
        margin: 0;
    }
}

.app-footer-right {
}

.app-footer-left.share {
    display: none;
    img {
        display: none;
        width: 40px;
        height: 40px;
    }
}


@media screen and (max-width: 1500px) {
    .pledge-footer{
        letter-spacing: 4px;
        font-size: 1.5em;
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .pledge-footer{
        width: 80%;
    }
}