
.app-footer {
    align-self: flex-end;
    width: 100%;
    background-color: #f8f8f8;
    color: #4f4f4f;
    z-index: 4;
}


.app-footer .pledge-footer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 50px 0;
    /*background-color:  #313d48;*/
}

.about .app-footer .pledge-footer-wrap {
    padding: 20px 0;
}

.app-footer .pledge-footer{
    border: solid 4px;
    border-image:  linear-gradient(45deg, #296faf, #1bc5cc);
    border-image-slice: 1;
    background: linear-gradient(45deg, #296faf, #1bc5cc);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing: 4px;
    font-size: 2.2em;
    font-weight: bold;
    font-family: 'Ek Mukta', sans-serif;
    text-transform: uppercase;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 30px 50px;
        text-decoration: none;
        color: white;
    }

    &:hover {
        -webkit-text-fill-color: white;
        -webkit-background-clip: initial;
        animation: fill-background 0.3s;
    }
}


  
.app-footer .default {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.app-footer .app-footer-left {
    width: 110px;
    padding-left: 5px;
    p {
        margin-bottom: 0;
    }

    &.share {
        display: none;
        img {
            display: none;
            width: 40px;
            height: 40px;
        }
    }
}

.app-footer .app-footer-right {
    padding-right: 5px;
}



.app-footer .usaid {
    position: relative;
    display: flex;
    flex-direction: column;

    .disclaimer {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        transform: translateY(-105%);
        color: white;
    }

    .disclaimer .text {
        width: 100%;
        padding: 20px;
        background-color: #1a4b77;
    }

    .disclaimer .triangle {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #1a4b77;
    }

    .usaid-logos {
        width: auto;
    }
    
    .usaid-logos img{
        height: 45px;
    }

    &:hover .disclaimer{
        display: flex;
    }
}





@media screen and (max-width: 1500px) {
    .pledge-footer{
        letter-spacing: 4px;
        font-size: 1.5em;
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .app-footer .usaid{
        width: 65%;
        .usaid-logos img{
            width: 100%;
            height: auto;
        }
    }

    .app-footer .app-footer-right img {
        height: 20px;
        width: auto;
    }

}



@media screen and (max-width: 900px) {
    .pledge-footer{
        width: 80%;
    }
}


@media screen and (max-width: 700px) {
    .app-footer .usaid{
        width: 100%;
        margin-bottom: 10px;
        order: -1;

        .disclaimer {
            order: 1;
            display: flex;
            position: relative;
            transform: translateY(0);
            margin: 20px 0 10px 0;
        }

        .disclaimer .text {
            width: 100%;
            padding: 20px;
            background-color: #1a4b77;
        }

        .disclaimer .triangle {
            display: none;
        }

    }

}


@keyframes fill-background {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

