
.index main .container {
	width: 90vw;
	padding: 0;
	display: flex;
	flex-direction: column;

	> div {
		margin-bottom: 10px;
	}
}

.highlights {
	position: relative;
}


.highlights .highlight-items-wrapper {
	background-color: gray;
}

.highlights .highlight-item {
	display: none;

	&.active {
		display: block;
		animation: appear 2.5s;
	}
}

.highlights .highlight-image {
	width: 100%;
	height: calc(100vh - 150px);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.highlights .highlight-title {
	position: absolute;
	left: 10%;
	right: 10%;
	bottom: 60px;
	width: 60%;

	font-family: 'BebasNeue-Bold';
	font-size: 5em;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: left;
	color: white;
}

.highlights .highlight-next-prev-button {
	position: absolute;
	top: calc(50% - 35px);
	width: 70px;
	height: 70px;
	border: none;
	border-radius: 35px;
	background-color: rgba(27,27,27,0.5);
  	transition: background-color 0.3s ease;
  	color: white;
  	font-size: 40px;
  	font-family: serif;
  	
	&:focus {
	 	outline: none; 
	}

	span {
		position: relative;
		top: -5px;
	    line-height: 27px;
	}

	&.prev {
		left: 20px;
		span::before{
    		content: "\2039";
    	}
	}

	&.next {
		right: 20px;
		span::before{
    		content: "\203a";		
    	}
	}
}

body.no-touch .highlights .highlight-next-prev-button:hover {
	background-color: rgba(27,27,27,0.9) !important;
}



.highlights .highlight-buttons {
	position: relative;
	bottom: 40px;
	display: flex;
	justify-content: center;
	z-index: 2;
}

.highlights .highlight-item-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 17px;
	height: 17px;
	margin: 5px;
	border: none;
	border-radius: 50%;
	background-color: white;
	opacity: 0.4;

	&:focus {
	 	outline: none; 
	}


	&.active {
		background-color: black;
	}
}

.filter {
	margin-top: 50px;
}

.stories-grid {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

}

.stories-grid-item { 
	margin: 20px 0;
	width: 31%;
}

.stories-grid-item:nth-child(3n - 1) {
	margin-left: calc((100% - 93%)/2);
	margin-right: calc((100% - 93%)/2);
}

.stories-grid-item .story-link {
	width: 100%;
	height: 100%;

}


body.no-touch .stories-grid-item .story-link:hover {
	.story-image-effect  {
		-moz-transform: scale(1.2);
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
		opacity: 1;
	}

	.story-info {
		color: #2b6a92;
	}
}

.stories-grid-item .story-image{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	background-color: black;
	overflow: hidden;
}

.stories-grid-item .story-image-effect {
	width: 100%;
	height: 100%;
	transition: all 0.3s;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  	opacity: 0.5;
}

.stories-grid-item .story-image-attr {
	position: absolute;
	left: 10px;
	bottom: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	z-index: 2;

	.story-title {
		padding: 0 5px;
		color: white;
		font-size: 1.6em;
		line-height: 1.3em;
		font-family: 'Lato', sans-serif;
		text-decoration: none;
		transition: color 0.1s ease;
		font-weight: bold;
	}

	.story-icon {
		height: 2em;
		width: auto;
		margin-right: 5px;
	}
}


.stories-grid-item .story-info {
	width: 100%;
	padding: 10px;	
	color: #585555;
	border: solid 1px;
	border-top: none;
	border-color: #f1efef;
	font-family: 'Arimo', sans-serif;
	background-color: #efefef;

	.story-description {
		font-size: 1.2em;
		letter-spacing: 1px;
		height: 70px;	
	}

}

.stories-grid .pages-numbers{
	width: 100%;
	display: flex;
	justify-content: center;

	a {
		font-size: 1.2em;
		color: #737171;
		text-decoration: none;
		font-family: 'Arimo', sans-serif;
	}

	.current {
		font-size: 1.2em;
		color: #09989e;
	}
}


@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




@media screen and (max-width:  1700px){
	.index main .container {
		width: 90vw;
		min-width: auto;
	}	

}

@media screen and (max-width:  1150px){

	.stories-grid-item:nth-child(3n-1) {
		margin-left: 0;
		margin-right: 0;
	}

	.stories-grid-item{
		width: 48%;
	}

	.stories-grid-item:nth-child(odd) {
		margin-right: calc(4%);
	}

}


@media screen and (max-height: 900px) {
	.highlights .highlight-title {
		font-size: 3em;
		letter-spacing: 2px;
	}
}


@media screen and (max-width:  750px){
	
	.stories-grid-item:nth-child(odd) {
		margin-right: 0;
	}

	.stories-grid-item{
		width: 100%;
	}

	.stories-grid-item .story-info {
		.story-description {
			height: auto;	
		}
	}

}

@media screen and (max-width: 650px), (max-height: 900px) {

	.highlights .highlight-title {
		font-size: 2.5em;
		letter-spacing: 2px;
	}

	.highlights .highlight-image {
		height: calc(100vh - 120px);
	}


	.highlights .highlight-next-prev-button {
		top: calc(50% - 20px);
		width: 40px;
		height: 40px;
		border-radius: 20px;
	  	font-size: 20px;

		span {
			top: -5px;
		    line-height: 27px;
		}

		&.prev {
			left: 5px;
		}

		&.next {
			right: 5px;
		}	
	}

}


@media screen and(max-width: 500px) {
	.stories-grid-item .story-image-attr {
		.story-title {
			font-size: 1.3em;
			line-height: 1.3em;
		}

		.story-icon {
			height: 1.8em;
		}
	}


	.stories-grid-item .story-info {
		.story-description {
			font-size: 1em;
			letter-spacing: 1px;
		}
	}
}

@media screen and (orientation: portrait) {
	.highlights .highlight-image {
		height: 60vw;
	}

	.stories-grid-item .story-image{
		width: 100%;
		height: 60vw;
	}
}