
.index main .container {
	width: 1500px;
	padding: 0;
	display: flex;
	flex-direction: column;

	> div {
		margin-bottom: 10px;
	}
}

.highlights {
	position: relative;
}

.highlights .highlight-item {
	display: none;

	&.active {
		display: block;
		animation: appear 2s;
	}

}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.highlights .highlight-image {
	width: 100%;
	height: 800px;

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.highlights .highlight-title {
	position: absolute;
	left: 10%;
	right: 10%;
	bottom: 50px;
	width: 60%;

	font-family: 'Eczar', serif;
	font-weight: bold;
	font-size: 3em;
	text-align: left;
	color: white;
}

.highlights .highlight-next-prev-button {
	position: absolute;
	top: calc(50% - 35px);
	width: 70px;
	height: 70px;

	border: none;
	border-radius: 35px;
	background-color: rgba(27,27,27,0.5);
  	transition: background-color 0.3s ease;
  	color: white;

  	font-size: 40px;
  	font-family: serif;
  	line-height: 70px;
	&:hover {
		background-color: rgba(27,27,27,0.9) !important;
	}

	&:focus {
	 	outline: none; 
	}

	span {
		position: relative;
		top: -5px;
	    line-height: 27px;
	}

	&.prev {
		left: 20px;

		span::before{
    		content: "\2039";
    	}
	}

	&.next {
		right: 20px;

		span::before{
    		content: "\203a";		
    	}
	}


}

.highlights .highlight-buttons {
	position: absolute;
	bottom: 20px;
	left: calc(50% - 43px);
	display: flex;
	justify-content: center;
	z-index: 2;
}

.highlights .highlight-item-button {
	width: 14px;
	height: 14px;
	margin: 5px;

	border-radius: 10px;
	border: 2px solid;
	border-color: rgba(72,62,62,0.88);
	background-color: rgba(72,62,62,0.88);

	&:focus {
	 	outline: none; 
	}


	&.active {
		background-color: rgba(255,255,255,0.67);
	}
}



.stories-grid {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

}

.stories-grid-item{
	width: 450px;
	margin: 20px 0;
	margin-left: calc((1500px - 1350px)/6);
	margin-right: calc((1500px - 1350px)/6);
}

.stories-grid-item .story-link {
	width: 100%;
	height: 100%;
}

.stories-grid-item .story-image{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 300px;
	background-color: black;
	overflow: hidden;

	&:hover {
		.story-image-effect  {
			-moz-transform: scale(1.2);
			-webkit-transform: scale(1.2);
			transform: scale(1.2);

		}
	};

}

.stories-grid-item .story-image-effect {
	width: 100%;
	height: 100%;

	transition: all 0.3s;
		
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
  	opacity: 0.75;

}

.stories-grid-item .story-image-attr {
	position: absolute;
	left: 10px;
	bottom: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 2;

	.story-title {
		color: white;
		font-size: 1.6em;
		line-height: 1.6rem;
		font-family: 'Lato', sans-serif;
		text-decoration: none;
		transition: color 0.1s ease;
	}

	.story-icon {
		height: 2em;
		width: auto;
		margin-right: 5px;
	}
}


.stories-grid-item .story-info {
	width: 100%;
	padding: 10px;	
	color: #585555;
	border: solid 1px;
	border-top: none;
	border-color: #f1efef;
	font-family: 'Arimo', sans-serif;
	background-color: #efefef;

	.story-description {
		font-size: 16px;
		letter-spacing: 1px;
		height: 70px;	
	}

}

.stories-grid .pages-numbers{
	width: 100%;
	display: flex;
	justify-content: center;

	a {
		font-size: 16px;
		color: #737171;
		text-decoration: none;
		font-family: 'Arimo', sans-serif;
	}

	.current {
		font-size: 16px;
		color: #09989e;
	}
}





@media screen and (max-width:  1700px){
	.index main .container {
		width: 90vw;
	}	

	.stories-grid-item{
		width: 31%;
		margin-left: calc((100% - 93%)/6);
		margin-right: calc((100% - 93%)/6);
	}

}

@media screen and (max-width:  1150px){

	.stories-grid-item{
		width: 48%;
		margin-left: calc((100% - 96%)/4);
		margin-right: calc((100% - 96%)/4);
	}

}




@media screen and (max-height: 900px) {
	.highlights .highlight-image {
		height: 700px;
	}

	.highlights .highlight-title {
		font-size: 2em;
	}
}

@media screen and (max-width:  750px){

	.stories-grid-item{
		width: 98%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.stories-grid-item .story-info {
		.story-description {
			height: auto;	
		}
	}


}

@media screen and (max-width: 650px), (max-height: 900px) {
	.index main {
		margin-top: 60px;
	}


	.highlights .highlight-next-prev-button {
		top: calc(50% - 20px);
		width: 40px;
		height: 40px;
		border-radius: 20px;
	  	font-size: 20px;
	  	line-height: 40px;

		span {
			top: -5px;
		    line-height: 27px;
		}

		&.prev {
			left: 5px;
		}

		&.next {
			right: 5px;
		}	
	}



}

