
$navigation-color: #38c3d4;

.navbar-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 25px;
	font-family: 'Ek Mukta', sans-serif;
	text-transform: uppercase;
	background-color: white;
	z-index: 4;
	* {
		color: $navigation-color;
	}

	a {
		text-decoration: none;
	}

	ul {
		list-style: none;
	}

	::before, ::after {
		display: none;
	}

}


.navbar-wrapper .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	min-width: 1500px; 
    height: auto;
	padding: 20px 0 20px 0;

	> * {
		padding: 0;
		margin: 0;
	}

	a {
		transition: all 0.3s;
	}
  
}

.navbar-wrapper .navbar-left, .navbar-wrapper .navbar-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.navbar-wrapper .navbar-left-wrap {
	overflow: hidden;
}

.navbar-wrapper .navbar-left {
	height: 90px;
    position: relative;

 	> * {
 		margin-right: 30px;
 	}

}




.navbar-wrapper .navbar-logo {

	.logo-with-lungs {
		height: 90px;
		width: auto;
	}


	.logo-with-letters {
		height: 40px;
		width: auto;
	}
}



.navbar-wrapper .navbar-right {
 	> * {
 		margin-left: 30px;
 	}
}

.navbar-wrapper .pledge-button {
	display: flex;
	align-items: center;	
	letter-spacing: 4px;
}

.navbar-wrapper .search-form {

	display: flex;
	align-items: center;

	input {
		width: 0;
		font-size: 20px;
		font-family: serif;
		line-height: 20px;
		text-align: left;
		outline: none;
		border: none;
		border-bottom: solid 1px;
		transition: width 0.2s;
		color: #296faf;
	}

	button {
		height: 30px;
		margin: 0 10px 0 0;
		text-decoration: none;
		border: none;
		padding: none;
		background: none;
		&:focus {
			outline: none;
		}
	}

	.search-icon {
		path {
			fill: #296faf;
			stroke-width: 4;
		}
		width: auto;
	}

	&.search-active, &:hover {
		input {
			width: 300px;	
		}
	}

}


.navbar-wrapper .language-switcher-container {
	display: flex;
	align-items: center;

	::before, ::after {
		display: initial;
	}
}


.navbar-wrapper .dropdown-button {
	height: 25px;
	display: none;
	flex-direction: column;
	justify-content: space-between;	
	background-color: transparent;
	border: none;

	span {
		width: 30px;
		height: 5px;
		margin-bottom: 3px;
		background-color: $navigation-color;
		border-radius: 3px;
	}

	&:focus {
		 outline: none;
	}
}




@media screen and (max-width:  1700px){
	.navbar-wrapper .container {
		width: 90vw;
		min-width: auto;
	}	


}



@media screen and (max-width: 1200px) {

	.navbar-wrapper .dropdown-button {
		display: flex;
	}

	.navbar-wrapper .navbar-right {
		display: none;

   		flex: 0 1 100%;
		ul {
			padding: 0;
		}

		> li {
			margin: 20px 0 0 5px;
		}

		> * {
			flex: 1 100%;
			margin-left: 0;

		}
	}


	.navbar-wrapper .search-form {

		input {
			order: 0;
			width: 70%;
			padding: 5px;
			max-width: 300px;
			border: solid 1px;
		}

		button {
			order: 2;
		}

		&.search-active, &:hover {
			input {
				width: 70%;
				max-width: 300px;
			}
		}

	}

} 




@media screen and (max-width: 1000px) and (max-height: 700px) {

	.navbar-wrapper > * {
		width: 95vw;
	}	

} 

@media screen and (max-width: 650px), (max-height: 900px) {
	
	.navbar-wrapper {
		font-size: 20px;
	}

	.navbar-wrapper .navbar-logo {

		.logo-with-lungs {
			height: 50px;
		}

		.logo-with-letters {
			height: 20px;
		}
	}


	.navbar-wrapper .navbar-right {
		> * {
 			margin-left: 10px;
 		}
	}


	.navbar-wrapper .dropdown-button {
		height: 20px;

		span {
			width: 20px;
			height: 3px;
		}

	}

}

.navbar-wrapper .flex-display {
	display: flex;
}