
.pledge main .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1500px;
  	padding: 0;
}

.pledge main .container {
	h1, h2 {
		font-family: 'Ek Mukta', sans-serif;
	  	text-transform: uppercase;
	}

}

.pledge-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 50px 0 50px 0;
	margin-top: 10px;
	color: white;
	font-size: 1.7em;

	/*background-image: linear-gradient( #76CAD4, #7cbfa1	);*/
	background-image: linear-gradient( #8ee2ec, #497b65	);
}

.pledge .pledge-name {
	font-size: 3.5em;
	text-align: center;
	margin: 0 0 40px 0;
}

.pledge-wrapper .image {
	width: 320px;
	height: 320px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 200px;
}

.pledge-wrapper .pledge-texts {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 25px 0 25px 0;
}

.pledge-wrapper .pledge-texts > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
	margin: 60px 0 60px 0;
	text-align: justify;
	background-color: transparent;
	font-family: 'Arimo', sans-serif;

	h2 {
		font-weight: bold;
		font-size: 1.8em;
		line-height: 1.8em;
		text-align: center;
		margin: 25px 0 15px 0;
	}

	.icon {
		height: 70px;
		width: auto;
	}

}

.pledge-wrapper .made-pledge, .pledge-wrapper .pledge-count {
	margin: 0 0 30px 0;
}

.pledge-wrapper .make-pledge {
	font-family: 'Ek Mukta', sans-serif;
	text-transform: uppercase;
	font-size: 2.1em;
	margin:0 0 50px 0;
	border: solid 3px;
	padding: 5px 30px;

	a {
		text-decoration: none;
		color: white;

	}

	&:hover, &:hover a {
		color: #70bbff;
	};
}

.all-pledges-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;	
	margin: 100px 0;
	color: #1bc5c7;


	.all-pledges-title {
		font-size: 3em;
	}

	.all-pledges {
		width: 100%;
		padding: 30px 0;
		margin-top: 50px;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: #e9ebee;
	}


	.slick-prev, .slick-next {
		z-index: 3;

		&:before{
			color: #1f352b !important;
		}

		&.slick-prev {
			left: 5px;
		}

		&.slick-next {
			right: 5px;
		}
	}

}




.all-pledges .slick-slide a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.image {
		width: 80%;
		height: 250px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	.pledge-title {	
		margin-top: 10px;
		max-width: 80%;
		font-family: 'Julius Sans One', sans-serif;
		font-size: 1.8em;
		font-weight: bold;
		color: #1bc5c7;
		text-decoration: none;
	}


	&:focus, &:hover {
		 outline: none;
		 text-decoration: none;
	}
}




@media screen and (max-width:  1700px){

	.pledge main .container {
		width: 90vw;
	}	

	.pledge-wrapper .image {
		width: 40vw;
		height: 40vw;
		max-width: 350px;
		max-height: 350px;
		border-radius: 170px;
	}

}


@media screen and (max-width: 1000px){

	.pledge-wrapper .pledge-texts > div {
		width: 80%;
	}
} 


@media screen and (max-width: 1000px) and (max-height: 1000px){
	.pledge .pledge-name {
		font-size: 2em;
	}

	.pledge-wrapper .pledge-texts {
		font-size: 1.1em;
	}

	.pledge-wrapper .pledge-texts > div {
		margin: 40px 0 40px 0;

		h2 {
			font-size: 1.3em;
			line-height: 1.3em;
		}

		.icon {
			height: 40px;
		}
	}

	.pledge-wrapper .make-pledge {
		font-size: 1.6em;
		margin:0 0 40px 0;
	}


}

@media screen and (max-width: 500px){
	.pledge main .container {
		width: 100vw;
	}	


	.pledge-wrapper .pledge-texts {
		font-size: 0.9em;
	}

	.pledge-wrapper .pledge-texts > div {
		width: 90%;
	}


}