
.story main .container {
  width: 900px;
}

.story .primary-header {
  width: 100%;
  color: #757575;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 3em;
}

.story-wrapper {
  display: flex;
  flex-direction: column;
}

.story-wrapper .date {
  text-align: center;
  margin: 15px 0;
}


.story-wrapper .image{
  position: relative;
  width: 100%;
  &:hover{
    opacity: 0.7;
  }

  .fb-image, .fb-inline {
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: auto;
    }
  }


  .image-click{
    position: absolute;
    top: calc(50% - 38px);
    left: calc(50% - 38px);
  }
}


.story-wrapper .story-info {
    margin: 50px 0 50px 0;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;

    > div {
      margin-top: 5px;
    }

    .description {
      text-align: center;
      max-width: 500px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: #dedede;
      margin-bottom: 15px;
      padding: 0 30px 0 30px;
    }

    .share {
      margin-top: 15px;
      img {
        width: 40px;
        height: 40px;
      }
    }
}

@media screen and (max-width: 1200px) {
  .story main .container {
    width: 80vw;
  }

  .story .primary-header {
    font-size: 2.5em;
  }

  .story-wrapper .story-info {
    .description {
      max-width: 60vw;
      padding: 0 3vw 0 3vw;
    }
  }




}

@media screen and (max-width: 700px) {

  .story main .container {
    width: 95vw;
  }

}


@media screen and (max-width: 520px) {

  .story .primary-header {
    font-size: 2em;
  }

  .story-wrapper .image{
    .image-click{
      width: 50px;
      height: 50px;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
    }
  }

  .story-wrapper .story-info {
    .description {
      max-width: 100%;
      padding: 0 3vw 0 3vw;
    }
  }

}