// This file contains all the variables used in this project's scss files.

$loading-indicator-size: 125px;
$footer-height: 41px;
$container-mobile-change: 1500px;
$container-mobile-change-width: 1500px;