<footer class='app-footer'>
	<% if params[:controller] == "root" && params[:action] != "pledge" %>
		<div class="pledge-footer-wrap">
			<div class='pledge-footer' style='background-image: url(<%= image_path("pledge_icon_footer.png") %>)'>
				  <%= link_to pledge_path(@latest_pledge), class: 'pledge-footer-image',
		              target: '_blank',
		              title: t('shared.common.jumpstart.slogan') do %>
		    		<p> შემოგვიერთდი და შეცვალე გარემო! </p>

		          <% end %>    
		    </div>
		</div>
	<% end %>
	<div>
	  <p class='app-footer-left'>&copy; <%= Time.now.year %></p>
	  <p>
			<div class="addthis_inline_share_toolbox"></div>
	  </p>
	  <p id='footer-targer'> </p>
	  <%= link_to image_tag('jumpstart-logo.png', class: 'app-footer-right'),
	              'http://jumpstart.ge',
	              target: '_blank',
	              title: t('shared.common.jumpstart.slogan') %>
	</div>
</footer>
